
.selected {
    background-color: #007bff;
    color: #fff; 
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #ccc;
  }
  
  .first-button {
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px; 
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .first-button:hover {
    background-color: #007bff;
    color: #fff;
  }

  .center-button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .center-button:hover {
    background-color: #007bff;
    color: #fff;
  }

  .last-button {
    border-top-right-radius: 8px; 
    border-bottom-right-radius: 8px; 
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .last-button:hover {
    background-color: #007bff;
    color: #fff;
  }

  