.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cardDetail {
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  margin: 20px;
  background-color: rgb(252, 0, 0);
}

.cardAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.cardAbout img.pokemon-img {
  min-width: 250px;
  min-height: 250px;
  max-width: 300px;
  max-height: 300px;
}

.type-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100px;
  margin: 10px 10px 10px 10px;
}

.type-label {
  border: 2px solid white;
  border-radius: 50px;
}

.data {
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.title {
  margin-left: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.data p {
  border-radius: 10px;
  display: grid;
  font-weight: bold;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.button-back {
  width: 80px;  
  display: block;
  background-color: #0077cc;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  margin-bottom: 10px;
  margin: 20px auto;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button-back:hover {
  background-color: #005ea7;
}


@media (max-width: 800px) {
  .cardDetail {
    grid-template-columns: 1fr;
    width: 100%;
    background-size: 90%;
  }

  .data {
    padding-left: 120px;
  padding-right: 120px;
  }
  
}
  
@media (max-width: 600px) {
  .cardDetail {
    grid-template-columns: 1fr;
    width: 100%;
    background-size: 90%;
  }

  .data {
    padding-left: 50px;
  padding-right: 50px;
  }
}
  