.card-container {
    
    width: 16em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 0.5em;
    margin: 1em;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing:grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 2s ease-out;
}

.img:hover{
    transform: scale(1.5);
}

/* .img { */
    /* max-width: 300px; */
    /* max-height: 300px; */
    /* margin-right: 20px; */
  /* } */