.card-container {
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5em;
    margin: 0.5em;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
}

.img:hover{
    transform: scale(1.5);
    transition: all .3s ease-out;
}