
.filters-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.filter {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}


@media (max-width: 1000px) {
.filters-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}
}

