
.filters-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  
  .filter {
    margin-block: 10px;
    /* margin-right: 20px;  */
    /* padding: 20px; */
  }
  