.pagination-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagination-button {
  margin: 0px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 0px;
  cursor: pointer;
}

.pagination-button.active {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.pagination-button:hover {
  background-color: #007bff;
  color: #fff;
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.first-button {
  border-top-left-radius: 8px; 
  border-bottom-left-radius: 8px; 
}

.last-button {
  border-top-right-radius: 8px; 
  border-bottom-right-radius: 8px; 
}
