body {
  background-image: url('../../assets/img/background.jpg');
  /* background-image: url('../../assets/img/92128.jpg'); */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  background-attachment: fixed;
}

.pokemonLogo {
  width: 40%;
  padding-top: 20px;
  padding-bottom: 100px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
}

.pokeBall {
  width: 100px; 
  height: auto; 
  animation: wiggle 2s linear infinite

}

.pokemon-image {
  width: 100px; 
  height: auto; 
  animation: wiggle 2s linear infinite
}



@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

@media (max-width: 800px) {
  .pokemonLogo {
    width: 60%;
  }
  .pokeBall {
    padding-top: 50px;
  }
  
  
}

@media (max-width: 600px) {
  .pokeBall {
    padding-top: 50px;
  }
}