.navContainer img {
  align-items: start;
  margin-right: 100px;
    width: 6rem;
    height: auto;
    animation: logoAnimation 3s infinite;
  }
  
  .navContainer {
      display: flex;
      /* justify-content: space-evenly; */
      justify-content: center;
      /* flex-direction: center; */
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(5px);
      /* height: 200vh; */
      /* width: 95%; */
      /* position: fixed; */
    }
    
    .navLink {
      background-color: rgba(255, 255, 255, 0.5);
      color: black;
      /* background-color: #00ffff; */
      text-decoration: none;
      margin-left: 50px;
      margin-right: 50px;
      padding: 5px 10px;
      border-radius: 10px;
      text-decoration: none;
    }
    
    .active {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border-radius: 10px;
    /* border: 1px solid #ccc; */
        /* font-weight: bold; */
      /* box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff; */
      /* background-color: rgba(255, 255, 255, 0.5); */
      /* color: black; */
      text-decoration: none;
      /* padding: 5px; */
      /* border-radius: 5px; */
    }
  
    .navLink:hover {
      background-color: #007bff;
      color: #fff;
      /* box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff; */
    }
  
    /* .navLink:focus  
    {
      box-shadow: 0 0 5px #ff4081, 0 0 10px #ff4081, 0 0 15px #ff4081;
    } */
  
    .navContainer input:focus {
      border-bottom-color: #00ffff;
    }
    
    
    
    @media (max-width: 768px) {
      .navContainer {
        flex-direction: column;
      }
      
      .navLink {
        margin-bottom: 10px;
      }
      
      .searchContainer {
        margin-bottom: 10px;
      }
    }
  
    @keyframes logoAnimation {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
    