
.label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .select {
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .select option {
    text-transform: uppercase;
  }

  
  