.error {
	color: red; 
  }
  

  .form-container {
	max-width: 400px; 
	margin: 0 auto; 
  }
  
  
  .input-container {
	margin-bottom: 20px; 
  }
  
  
  .submit-button {
	background-color: #007bff; 
	color: white; 
	padding: 10px 20px; 
	border: none; 
	cursor: pointer; 
	border-radius: 5px;
  }
  
  
  .delete-button {
	background-color: red; 
	color: white; 
	border: none; 
	cursor: pointer; 
  }

  .submit-button:disabled {
	background-color: #ccc; 
	cursor: not-allowed; 
	padding: 10px 20px;  
    border-radius: 5px;
  }