.container-main {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
    /* max-width: 1500px; */
    /* padding: 40px auto; */
    width: 80%;
    /* height: 100vh; */
}

.container-form {
	flex-direction: column;
    /* justify-content: space-between; */
    border-radius: 10px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    padding: 10px;
    /* text-align: center; */
	background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
	background-size: 50%;
	/* margin: 20px; */
}

.container-cards {
	border-radius: 10px;
    display: grid;
    /* gap: 10px; */
    grid-template-columns: 1fr 1fr;
	/* background-size: cover; */
	/* background-repeat: no-repeat; */
  	/* background-position: center; */
	
}

.container-image {
	display: flex;
	/* min-width: 400px; */
	/* max-width: 600px; */
    /* background-size: cover; */
	/* background-repeat: no-repeat; */
  	/* background-position: center; */
    border-radius: 10px;
    min-height: auto;
    padding: 10px;
    /* transition: transform 0.2s; */
	background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  
}
.container-info {
	min-width: 90px;
	max-width: 90px;
    border-radius: 10px;
	/* gap: 10px; */
    /* min-height: auto; */
    /* padding: 20px; */
    /* transition: transform 0.2s; */
	/* border-radius: 10px; */
  /* display: grid; */
  /* font-weight: bold; */
  margin-right: 10px;
  /* margin: 10px; */
  /* color: black; */
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.stats {
  border-radius: 10px;
  /* display: grid; */
  /* font-weight: bold; */
  margin: 10px;
  padding: auto;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}





/* estilo viejo */
.error {
	color: red; 
  }

  .form-container {
	/* display: flex; */
	/* flex-direction: row; */
	/* max-width: 80%;  */
	margin: 40px; 
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
	
  }
  
  .input-container {
	margin-bottom: 20px; 
  }
  
  
  .submit-button {
	background-color: #007bff; 
	color: white; 
	padding: 10px 20px; 
	border: none; 
	cursor: pointer; 
	border-radius: 5px;

  }
  
  
  .delete-button {
	background-color: red; 
	color: white; 
	border: none; 
	cursor: pointer; 
  }

  .submit-button:disabled {
	background-color: #ccc; 
	cursor: not-allowed; 
	padding: 10px 20px;  
    border-radius: 5px;
  }